:root {
  --color-primary-light: #69db7c;
  --color-primary: #37b24d;
  --color-primary-dark: #2b8a3e;
  --color-secondary: #f59f00;
  --color-gray: #495057;
  --color-gray-light-1: #f1f3f5;
  --color-gray-light-2: #444;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-gray);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.form-container {
  background-color: var(--color-gray);
  flex-basis: 30%;
  width: 100%;
  height: 100%;
  padding: 4rem;
}

.map-container {
  width: 100%;
  height: 100%;
  flex-basis: 70%;
  background-color: var(--color-gray-light-1);
}

.heading-primary {
  color: white;
  font-size: 4.2rem;
  background-image: linear-gradient(to right, #1864ab, #c92a2a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  background: var(--color-gray-light-2);
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.form__group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form__group label {
  color: var(--color-gray-light-1);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.hidden-form-group {
  display: none;
}

.workouts {
  list-style: none;
  color: var(--color-gray-light-1);
  overflow-y: scroll;
  height: 40rem;
}

.workout {
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--color-gray-light-2);
}

.workout--date {
  font-weight: 500;
  margin-bottom: 1rem;
}

.workout--details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workout--running {
  border-left: 2px solid var(--color-primary);
}

.workout--cycling {
  border-left: 2px solid var(--color-secondary);
}
